 .forgetPassword-from-input{
    margin-top: 20px;
 }

.forgetPassword-from-back{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.forgetPassword-from-back img{
    width: 25px;
}