.homeInfo {
    /* background-color: rgb(224, 224, 224); */
    background-color: #555555;
    color: #fff;
}

.homeInfo-BC {
    padding-bottom: 10px;
    max-width: 1200px;
    margin: 150px auto 10px;
    text-align: center;
}

.homeInfo-BC h3 {
    margin: 30px 0 20px;
    padding: 25px 0 15px;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 2px solid black;
}



.homeInfo-BC-box {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    gap: 30px;
}

.homeInfo-BC div div {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-width: 200px;
}

.homeInfo-BC div div img {
    max-width: 100px;
    margin: 0 auto 20px;
}

.homeInfo-BC div div p {
    font-size: 12px;
    font-weight: 300;
    font-family: "Roboto";
}


/*  ------------------------   About Us! Design --------------------------  */

.homeInfo-aboutUs {
    padding: 80px 50px;
    min-height: 768px;
    margin: 100px auto 0px;
    display: flex;
    gap: 200px;
    background-image: url('./AboutUs-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: end;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /* border: 2px solid black; */
}

.homeInfo-aboutUs div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* border: 2px solid rgb(212, 23, 23); */
}

.homeInfo-aboutUs div h4 {
    font-size: 55px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    /* border: 2px solid rgb(23, 212, 45); */
}

.homeInfo-aboutUs-des1 {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #524eb8;
}

.homeInfo-aboutUs-des2 {
    margin: 50px auto;
    width: 80%;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 25px;
}

.homeInfo-aboutUs div a {
    /* margin: 30px; */
    border-radius: 30px;
    border: none;
    padding: 10px 25px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.homeInfo-aboutUs div a:hover {
    background-color: #dbdbe2;
}


/*-------------------------  Media Query ------------------------------*/

@media (max-width:1200px) {
    .homeInfo-aboutUs {
        margin: 200px auto 0px;
        gap: 60px;
        align-items: center;
    }
  
    .homeInfo-aboutUs img {
        max-width: 200px;
    } 
}

@media (max-width: 800px) {

    .homeInfo-BC {
        margin: 150px auto 20px;
        padding: 20px;
    }

    .homeInfo-BC h3 {
        font-size: 20px;
    }

    .homeInfo-BC-des {
        font-size: 12px;
    }

    .homeInfo-BC .homeInfo-BC-box div {
        padding: 20px 30px;
        width: 250px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .homeInfo-BC div div img {
        max-width: 50px;
    }

    .homeInfo-BC div div p {
        font-size: 12px;
        color: #333;
    }


    /* -------------- About Us ---------- */

    .homeInfo-aboutUs {
        padding: 40px 20px;
        min-height: 400px;
        margin: 00 auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .homeInfo-aboutUs-des2 {
        margin: 30px 0;
        text-align: start;
        width: 100%;
    }

    .homeInfo-aboutUs div {
        align-items: start;
    }

    .homeInfo-aboutUs img {
        display: none;
    }
}