.aboutUs {
    padding: 50px 50px 20px;
    color: #333;
}

.aboutUs-head {
    font-size: 40px;
}

.aboutUs-para {
    margin-top: 10px;
    width: 70%;
}

.aboutUs-box1 {
    margin: 80px 0;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* (mv - mission and vision) */
.aboutUs-box1-mv {
    padding: 30px 20px;
    width: max(350px, 35%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.aboutUs-box1-mv h2 {
    margin-top: 15px;
    color: #5d5c5c;
}

.aboutUs-box1-mv p {
    margin-top: 10px;
    width: fit-content;
}

.aboutUs-box2 {
    margin: 100px 0;
}

.aboutUs-box2 h2 {
    text-align: center;
    font-size: 30px;
}

.aboutUs-box2 hr {
    margin: 15px auto;
    width: 80%;
}

.aboutUs-box2 div h3 {
    color: #3a49bf;
    margin-top: 30px;
}

.aboutUs-box2 div p {
    margin-top: 5px;
    width: fit-content;
}

.aboutUs-box3 h2 {
    font-size: 35px;
    color: red;
}

.aboutUs-box3 p {
    margin-top: 5px;
    width: 70%;
}

.aboutUs-box4 {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    color: #5b5a5a;
}


/* --------------------------------   Media Query ---------------------------------------  */
@media (max-width: 1170px) {
    .aboutUs-para {
        width: fit-content;
    }
}

@media (max-width : 700px) {
    .aboutUs {
        padding: 20px 15px 20px;
    }

    .aboutUs-head {
        font-size: 25px;
    }

    .aboutUs h2 {
        font-size: 18px;
    }

    .aboutUs h3 {
        font-size: 15px;
    }

    .aboutUs p,
    .aboutUs-para,
    .aboutUs-box3 p {
        width: fit-content;
        font-size: 13px;
    }

    .aboutUs-box1-mv img {
        width: 70px;
        height: 70px;
    }

    .aboutUs-box2 {
        margin: 50px 0;
    }

    .aboutUs-box1 {
        gap: 70px;
    }

}