.orgForm form {
    margin: 10px auto 100px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.orgForm form h2 {
    width: 100%;
    font-size: 30px;
    color: #464646;
}

.org-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}

.org-inputs input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.orgForm form h6 {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    color: #6a6a6a;
}

.org-inputs-form-member {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px;
}

.org-inputs-termCondition {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.org-inputs-termCondition input {
    width: 18px;
}

.orgForm form button {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}