.file-list-box {
    padding: 10px 0;
    margin: 20px auto;
    max-width: 1200px;
    position: relative;
}

.file-list-box h2 {
    font-size: 35px;
    color: red;
}

.file-list-add-pdf-btn {
    padding: 10px 30px;
    color: #fff;
    background-color: #333;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    text-align: center;
}

.file-list-table {
    margin: 0 auto 100px;
    max-width: 1200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fff;
    border-radius: 8px;
}


.table-user-size {
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 2fr 1fr 1fr;
    gap: 10px;
    color: #fff;
}

.file-list-table-head {
    background-color: #333;
    border-radius: 8px 8px 0 0;
}

.file-list-table-body {
    background-color: #fff;
    color: #333;
    border-radius: 0 0 8px 8px;
}

.file-list-table-body:hover {
    background-color: #dfdede;
}

.file-list-table-body p img {
    width: 30px;
    cursor: pointer;
}

/*     -------------------------- Media Query  ----------------------------  */

@media (max-width: 1200px) {
    .file-list-table {
        margin: 0 10px 100px;
    }

    .file-list-box {
        margin: 20px 10px;
    }

    .file-list-box h2 {
        font-size: 25px;
    }
}

@media (max-width: 800px) {

    .table-list-size p {
        font-size: 14px;
    }

    .file-list-add-pdf-btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    .file-list-box h2 {
        font-size: 16px;
    }

}

@media (max-width: 600px) {
    .file-list-box h2 {
        font-size: 15px;
    }

    .table-user-size {
        padding: 10px 10px; 
        gap: 10px;
    }

    .table-list-size p {
        font-size: 8px;
    }

    .file-list-add-pdf-btn {
        padding: 10px 15px;
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .file-list-box h2 {
        font-size: 10px;
    }

    .file-list-add-pdf-btn {
        padding: 7px 10px;
        font-size: 8px;
    }
}