.header-container {
    padding: 0 50px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    min-height: 400px;
    /* border: 2px solid black; */
}

.header-content {
    max-width: 50%;
    /* border: 2px solid rgb(161, 0, 0); */
}

.header-content h1 {
    font-size: 2.5rem;
    color: #1a2233;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 1rem;
    color: #6b6f80;
    margin-bottom: 30px;
}

.header-content .button {
    background-color: #ff3ebf;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.header-content .button:hover {
    background-color: #ff1aa0;
}

.header-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image-container img {
    max-width: 100%;
    height: auto;
    width: 600px;
    /* border: 2px solid black; */
}

.header-background-shape {
    /* position: absolute; */
    /* width: 400px;
    height: 400px; */
    background: linear-gradient(135deg, #ff8a70, #ff3ebf);
    border-radius: 50%;
    z-index: -1;
    top: -30px;
    left: -50px;
}

/*----------------------  Media Query ---------------- */

@media (max-width:800px) {
    .header {
        display: none;
    }
}