.footer { 
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.footer-logo-info {
    width: max(35%, 350px);
    padding: 20px 0;

}

.footer-logo-info h3 {
    font-size: 50px;
    margin-bottom: 15px;
}

.footer-link-box {
    padding: 30px 0;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.footer-link-info {
    max-width: 300px;
    min-width: 150px;
}

.footer-link-info h3 {
    margin-bottom: 7px;
    font-size: 1.5rem;
    color: #45a049;
}

.footer-link-info ul li a {
    margin: 3px 0;
    display: inline-block;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-link-info ul li a:hover {
    color: #1182e6;
}

.copyright {
    margin-top: 20px;
    background-color: #222;
    text-align: center;
    padding: 1rem 0;
}

.copyright p {
    margin: 0;
}



/* ------------------------  Media Query -------------------  */

@media (max-width:1200px) {

    .footer-logo-info {
        width: 80%;
    }

    .footer-link-box {
        justify-content: center;
    }

    .footer-logo-info h3 {
        font-size: 35px;
    }
}

@media (max-width:600px) {

    .footer-logo-info {
        width: 100%;
    }

    .footer-logo-info h3 {
        font-size: 25px;
    }

    .footer p ,
    .footer a {
        font-size: 13px;
    }
}