.contact {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-main-h2 {
    margin: 30px 0 10px;
    font-size: 35px;
}

.contact-main-p {
    font-size: 25px;
    text-align: center;
}

.contact hr {
    margin: 10px 0 50px;
    width: 70%;
    height: 1px;
    background-color: black;
}

.contact-options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    gap: 10px;
}

.contact-option {
    width: 350px;
    height: 250px;
    margin: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
}

.contact-option img {
    width: 60px;
    margin: 5px 0 15px 0;
}

.contact-option h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.contact-option p {
    margin-bottom: 10px;
}

.contact-option a {
    display: block;
    width: 90%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    box-sizing: border-box;

}

.contact-option a:hover {
    background-color: #6b6b6b;
}

/* -------------------------------- */

@media (max-width: 800px) {

    .contact-main-h2 {
        font-size: 28px;
    }

    .contact-main-p {
        font-size: 22px;
    }
    .contact hr { 
        width: 100%;  
    }

}

@media (max-width: 500px) {

    .contact { 
        padding: 10px; 
    }
    .contact-main-h2 {
        font-size: 22px;
    }

    .contact-main-p {
        font-size: 16px;
    }

    .contact-options h2{
        font-size: 18px;
    }
    .contact-options p{
        font-size: 14px;
    }


}