@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khojki&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@501&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  scroll-behavior: smooth;
}

body {
  background-color: inherit;
  min-height: 100vh;
  overflow-y: scroll;
}

.fe-loading {
  width: fit-content;
  margin: 200px auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.a-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  overflow: hidden;
}

.mx-10 {
  margin: 10px 0;
}

.my-10 {
  margin: 0 10px;
}

.mx-20 {
  margin: 20px 0;
}

.capitalize {
  text-transform: capitalize;
}

/*  ------------------  Button --------------------  */


.btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #5f5e5e;
}