.cart {
    width: 80%;
    height: 80vh;
    margin: 100px auto 0;
}


.cart-box-design {
    width: 100%;
    background-color: #333;
    color: #fff;
}

.cart-box-design p {
    color: #fff;
    padding: 20px 10px;
    text-transform: capitalize;
}

.cart-box-head {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr;
    align-items: center;
    font-size: max(1vw, 10px);
    text-align: center;

}


.cart-box-item {
    margin: 8px 0;
    color: black;
}

.cart-box-item img {
    width: 60px;
    margin: auto;
}

.cart-box-item {
    text-transform: capitalize;
}

.cart-box-item .cross {
    cursor: pointer;
}

.cart-box-item hr {
    height: 1px;
    border: 1px solid #262323;
    border: none;
}

/*  -------------------   cart-pay  ------------------------------ */

.cart-btn {
    font-size: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;

}

.cart-btn:hover {
    background-color: #626060;
}

.cart-pay {
    flex-wrap: wrap;
    margin-top: 80px;
}

.cart-pay-code {
    min-width: 300px;
}

.cart-pay-code h2 {
    margin: 10px 0;
    font-size: 20px;
}

.cart-pay-code-box input {
    height: 36px;
    padding: 10px 10px;
    width: 200px;
    border: none;
    background-color: #dddddd;
    border-radius: 3px 0 0 3px;
}

.cart-pay-code-box button {
    height: 36px;
    padding: 10px 20px;
    border-radius: 0 3px 3px 0;
}

.cart-pay-payment {
    margin-top: 50px;
    min-width: 300px;
}

.cart-pay-payment div p {
    padding: 10px;
    font-size: 15px;
}

.cart-pay-payment button {
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
}

.cart-notFound {
    padding: 20px;
    margin: 200px auto 300px;
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}


.cart-notFound img {
    width: 50px;
}


.cart-notFound p {
    font-size: 35px;
    font-weight: 500;
}

/*   ------------------ Media Query  -----------------  */

@media (max-width: 800px) {
    .cart {
        width: 95%;
        margin: 70px auto 0;
    }

}

@media (max-width: 600px) {

    .cart-box-head p {
        font-size: 10px;
    }

    .cart-box-item img {
        width: 40px;
    }

    .cart-pay-code {
        margin-left: 50px;
    }

    .cart-pay-payment {
        margin: 80px 0 0 50px;
    }

    .cart-notFound {
        padding: 10px;
        max-width: 150px;
    }

    .cart-notFound p {
        font-size: 16px;
    }

    .cart-notFound img {
        width: 30px;
    }
}

@media (max-width: 600px) {

    .cart-box-head {
        grid-template-columns: 1fr 1.9fr 1.5fr 0.8fr 0.8fr;
    }

    .cart-box-head p {
        font-size: 7px;
    }

    .cart-box-item img {
        width: 25px;
    }
}