.profile {
    margin: 50px auto;
    padding: 20px 50px 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 10px;
    max-width: 900px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.profile-heading {
    font-size: 30px;
    font-weight: 500;
    color: #5f5f5f;
}

.profile-edit-btn {
    padding: 10px;
}

.profile hr {
    margin: 20px 0 30px;
}

.edit-h3 {
    margin: 25px 5px 5px;
    font-size: 22px;
    font-weight: 500;
    color: #676565;
}

.editUser-form-input input,
.editUser-form-input select {

    margin: 5px 0 15px;
    padding: 10px;
    width: 100%;
    outline: none;
    border-color: #333;
    border-radius: 5px;
}

.editUser-form-btn {
    margin-top: 20px;
    padding: 10px 100px;

}

.editUser-form-btn:hover {
    background-color: #616060;
}



/*  --------------------------------------  Media Query ------------------------------------------------   */


@media (max-width: 800px) {
    .profile {
        padding: 20px 20px 50px;
    }

    .profile-heading {
        margin-left: 15px;
        font-size: 25px;
    }
  
}


@media (max-width: 600px) {
    .profile {
        padding: 20px 10px 50px;
    }

    .profile-heading {
        font-size: 20px;
    }

    .profile-edit-btn {
        margin-right: 15px;
        padding: 8px;
        font-size: 10px;
    }

}