.login {
    position: absolute;
    z-index: 1;
    min-height: 100%;
    width: 100%;
    background-color: #00000090;
    display: grid;
}

.login-container {
    place-self: center;
    width: max(25vw, 350px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: FadeIn 0.5s;
}

.login-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-title h2 {
    color: #5c5c5c;
    font-size: 25px;
}

.login-title img {
    width: 16px;
    cursor: pointer;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-inputs-forget {
    color: blue;
    text-align: right;
    cursor: pointer;
}

.login-inputs-forget:hover {
    color: #0a75e6;
}

.login-inputs input {
    outline: none;
    border: none;
    border-bottom: 1px solid #747373;
    padding: 10px 10px;
    font-size: 15px;

}

.login-input-password input {
    width: 100%;
}

.login-input-password p {
    margin-top: 5px;
    width: 100%;
    font-size: 11px;
    text-align: start;
    color: #333;
}

.login-popoup-condition {
    display: flex;
    align-items: start;
    margin-top: -15px;
    gap: 8px;
}

.login-popoup-condition input {
    margin: 4.5px 0;
}

.login-resend-OTP-btn {
    margin: 0 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.login-resend-OTP-btn:hover {
    color: #8b8b8b;
    background: none;
}

.login-container-btn {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #333;
    color: white;
    font-size: 15px;
    cursor: pointer;

}

.login-container-btn:hover {
    background-color: #817f7f;
}

.login-option-change {
    text-align: center;
}

.login-option-change span {
    color: #0056b3;
    font-weight: 500;
    cursor: pointer;
}


/* Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* -------------------  Media Query ----------------------  */
 