.home-books {
    margin-top: 40px;
    padding: 0 20px;
}

.home-books h1 {
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 500;
    width: 90%;
    border: none;
    border-bottom: 2px solid #333;
}

.home-books-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px 50px;
}

/* ------------------------------------------- Media Query ------------------------------------------- */

@media (max-width:850px) {

    .home-books {
        margin-top: 20px;
        padding: 0 10px;
    }

    .home-books h1 {
        font-size: 25px;
    }

    .home-books-box {
        gap: 40px 30px;
    }
}

@media (max-width:550px) {

    .bookDisplay h1,
    .home-books h1 {
        font-size: 20px;
    }

}