.help-form {
    margin: 30px auto 0;
    padding: 20px;
    max-width: 1000px;
}

.help-form form h2 {
    margin-bottom: 35px;
    font-size: 40px;
    font-weight: 400;
    color: rgb(10, 10, 101);
}

.help-form-inputBox {
    margin: 30px 0;
}

.help-form-inputBox input,
.help-form-inputBox textarea {
    margin: 10px 0 0;
    padding: 10px;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: aliceblue;
}

.help-form-inputBox p {
    margin: 5px;
    text-align: end;
    font-size: 14px;
    color: #545454;
}
 
.help-form-btn button{ 
    padding: 10px 20px; 
    width: 100px; 
}
 


/* ------------------  Media Query  ------------------ */

@media (max-width : 700px) {
    .help-form {
        padding: 10px;
    }

    .help-form form h2 {
        font-size: 25px;
    }

    .help-form form label {
        font-size: 14px;
    }

    .help-form form input {
        font-size: 13px;
    }
}