.join {
    padding: 0 10px;
    margin-top: 50px;
    min-height: 100vh;
    width: 100vw;
}

.join h2 {
    font-size: 35px;
    margin: 50px 0;
    text-align: center;
}

.join form {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.join form h1 {
    margin-top: 20px;
    color: #333;
}

.join-form-personal-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.join-input {
    display: flex;
    flex-direction: column;
    width: max(300px, 47%);
    gap: 8px;
}

.join-input label {
    font-size: 20px;
}

.join-input input {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid #535252;
}

.join-termCondition {
    margin-top: 15px;
    gap: 10px;
}

.join-termCondition input {
    width: 20px;
    height: 20px;
}

.join-input select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.join-form-button {
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

.join-resend-otp {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.join-resend-otp:hover {
    color: blue;
}

.join-form-button:hover {
    background-color: #706f6f;
}

.join-otp-para {
    font-size: 14px;
    color: #605f5f;
}

/*  ---------  Message Box Design ---------- */

.join-message {
    margin: 120px auto 0;
    padding: 30px 20px;
    max-width: 450px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-style: oblique;
    text-align: center;
    font-size: 20px;
}

.join-message-success img {
    margin: auto;
    max-width: 100px;
}

.join-message-congrate img {
    margin: auto;
    max-width: 150px;
}

.join-message hr {
    width: 100%;
    height: 3px;
    background-color: #333;
}

.join-message div a {
    color: rgb(21, 21, 247);
}

/*     -----------------------------  Media Query ---------------------------  */


@media (max-width: 800px) {
    .join {
        padding: 0 50px;
    }

    .join h2 {
        font-size: 30px;
    }

    .join form h1 {
        font-size: 25px;
    }

    .join-input {
        width: 100%;
    }

    .join-message-success img,
    .join-message-congrate img {
        max-width: 70px;
    }

    .join-message {
        padding: 15px 10px;
        max-width: 250px;
        gap: 10px;
        font-size: 12px;
    }

}

@media (max-width: 500px) {
    .join {
        padding: 0;
    }

    .join h2 {
        font-size: 23px;
    }

    .join form {
        width: 100%;
    }


    .join form h1 {
        font-size: 19px;
    }

    .join-form-personal-details {
        width: 100%;
    }

    .join-form-personal-details input,
    .join-input select {
        padding: 8px;
        font-size: 13px;
    }

    .join-form-personal-details label {
        font-size: 13px;
    }

    .join-termCondition input {
        width: 12px;
        height: 12px;
    }


}