  
.upBook-form {
    padding: 10px;
    max-width: 800px;
    margin: 40px auto 80px;
}

.upBook-form h1 {
    padding-bottom: 10px;
    margin: 30px 0;
    font-size: 35px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid black;
}

.upBook-from-input{
    margin: 10px 0;
}

.upBook-from-input label {
    font-size: 18px;
    font-weight: 500;
}

.upBook-from-input input,
.upBook-from-input textarea {
    padding: 10px;
    margin: 10px 0px;
    font-size: 15px;
    width: 100%;
    outline: none;
    resize: none;
}

.upBook-from-input p {
   font-size: 12px;
   text-align: end;
}


.upBook-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}