.userInfo-bottom-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.userInfo-image {
    width: 35%;
    text-align: center;
}

.userInfo-image-box {
    padding: 10px;
    margin: auto;
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 50%;

}

.UserInfo-user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.userInfo-image-edit {
    max-width: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.userInfo-image button {
    margin: 30px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.userInfo-image button:hover {
    background-color: #646363;
}


.userInfo-details {
    width: 65%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userInfo-delails-box {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfo-color-box {
    background-color: #e8eef7;
    border-radius: 8px;
}

.userInfo-delails-key {
    width: 30%;
}

.userInfo-delails-value {
    width: 55%;

}

#active {
    border-bottom: 2px solid #333;
}



/*  --------------------------------------  Media Query ------------------------------------------------   */


@media (max-width: 800px) {
    .userInfo-bottom-box {
        gap: 25px;
    }

    .userInfo-image {
        width: 100%;
    }

    .userInfo-details {
        width: 100%;
    }

    .userInfo-delails-box p {
        font-size: 14px;
    }

}


@media (max-width: 600px) {
    .userInfo-delails-box p {
        font-size: 12px;
    }

    .userInfo-delails-box {
        justify-content: start;
        gap: 10px;
        padding: 10px;
    }

    .userInfo-delails-key {
        width: 25%;
    }

    .userInfo-delails-value {
        width: 65%;
    }

    .userInfo-image-box {
        padding: 6px;
        width: 150px;
        height: 150px;
    }

    .userInfo-image-edit {
        max-width: 30px;
    }
}